@{
    ViewBag.Title = "Datails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ETicaretDemo.Models.Urunler

<!--flex slider-->
<script defer src="/Content/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="/Content/css/flexslider1.css" type="text/css" media="screen" />
<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>

<!--single-page-->
<div class="single">
    <div class="container">
        <div class="single-info">
            <div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="flexslider">
                    <ul class="slides">
                        @{
                            foreach (var resim in Model.Resimler)
                            {
                                <li data-thumb="@resim.ResimYolu">
                                    <div class="thumb-image"> <img src="@resim.ResimYolu" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                </li>
                            }
                        }
                      
                    </ul>
                </div>
            </div>
            <div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s">
                <h3>@Model.Baslik</h3>
                <h6 class="item_price">@Model.Fiyat TL</h6>
                <p>@Model.Aciklama</p>
                <div class="clearfix"> </div>
                <div class="btn_form">
                    <p class="add-cart item_add">
                        @Html.ActionLink("SEPETE EKLE", "AddToCart", "CartDetail", new { id = Model.id }, "")
                    </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
       
    </div>
</div>
<!--//single-page-->

